body {
  /* border:0.2px solid white; */
  color:white;
  /* font-family: 'Press Start 2P', cursive; */
  background:black;
  margin-top: 2rem
  /* display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle !important;
  align-content: center;
  flex-wrap: wrap; */
}

.asteroid-diagram{
display:flex;
margin:auto;
}


 div .ui.segment {
  font-size: 1rem;
  background:black
}

div .ui.segment :hover{
font-size: 1rem !important;
color:white
}

/* div .ui.hidden.reveal */




