.ui.grid {
    height: 80%
}

.ui.grid div.eleven.wide.column {
    padding: 0 !important;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.flex-item-1 {
    flex: 3 0 0;
}

.flex-item-2 {
    flex: 1 0 0;
}

.empty-channel {
    height: 100%;
}
